<%= render 'header' %>

<h1 style="text-align: center;">Reset Password</h1>


<div class="container">
  <div class="row">
    <div class="well well-sm" style="width: 80%; margin-left: 10%; height: 150px; background-color: transparent;">
      <div class="form-group" style="padding-left: 5%; padding-right: 5%; padding-top: 24px;">
         
         <form accept-charset="UTF-8" action="/password_resets" method="post">

          <div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="/F7smTMzb15+OGOZJPJdLn+1kOONbQmy720GFlOixbU=">
         </div>

         <div class="field">
            <input id="email" name="email" type="text" placeholder="Your Email" class="form-control" required="required" autofocus="autofocus" >
         </div>

           <div class="actions" style="padding-top: 14px;"><input class="btn btn-primary" name="commit" type="submit" value="Reset Password"> </div>

        </form>   
     </div>
  </div>
 </div>
</div>





 <%
=begin %>


<div class="container">
  <div class="row">
    <div class="well well-sm" style="width: 80%; margin-left: 10%; height: 93px; background-color: rgb(223, 223, 223);">
      <div class="form-group" style="padding-left: 5%; padding-right: 5%;">
        <%= form_tag password_resets_path, :method => :post do %>
         <div class="field">
	      <%= text_field_tag :email, params[:email], :placeholder => "Your Email" %>
         </div>
      <div class="actions" style="padding-top: 14px;"><%= submit_tag "Reset Password", :class=> "btn btn-primary" %> </div>
    <% end %>
   </div>
  </div>
 </div>
</div>


<%
=end %>
