<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Product(s) Releasing Tomorrow That You Clocked</h1>
    <p>
      <%=  %> <br>
    </p>
    <p>Keep Setting Trends - Trendsetter!</p> <br>
    <p>Team Kijovo</p> <br>
  </body>
</html>