
<%= render 'header' %>

<header id="content-header">
  <h1 style="text-align: center;"> Sign Up</h1>
</header>

<%= render 'form' %>

<div style="padding-top:5px; padding-bottom:10px;">
<%= link_to "/auth/facebook", id: "sign_in" do %>
<img alt="Facebook_Login" src="/assets/Facebook_Login-f3dede89716eb6c7271671ef05bf796f.png" 
style="width: 200px;
margin-left: 40%;
margin-right: 60%;
z-index: -1;">
<% end %>
</div>


