
<%= render 'header' %>

<header id="content-header">
  <h1 style="text-align: center;"> Sign Up</h1>
</header>

<div style="padding-top:5px; padding-bottom:10px;">
<%= link_to "/auth/facebook", id: "sign_in" do %>
<img alt="Facebook_Login" src="/assets/FB Sign Up:In-e1334300572ec9972057787fb4469c51.png" 
style="width: 220px;
margin-left: 40%;
margin-right: 60%;
z-index: -1;">
<% end %>
</div>


<%= render 'form' %>


