<%= content_for(:title, :Tutorial) %>


<article id="user">
  <header>
     <h1 style="text-align: center;"> Kijovo Tutorial </h1>
  </header>

<br>

<p style="text-align: center; padding-left: 20%; padding-right: 20%; font-size: 18px;"> Kijovo is easy. Just find upcoming releases you are excited about, and clock (follow) them. We will keep you up to date on the things you clock. </p>

