<%= content_for(:title, :Tutorial) %>


<article id="user">
  <header>
     <h1 style="text-align: center;"> Tutorial </h1>
  </header>

<br>

<p style="text-align: center; padding-left: 15%; padding-right: 15%; font-size: 18px;"> Kijovo is easy. Just find upcoming releases you are excited about, and clock (follow) them. We will keep you up to date on the things you clock. With Kijovo you never miss a beat </p>

