<%= content_for(:title, :Tutorial) %>

<header id="page-header" style="padding-bottom: 30px;">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="z-index: 10; " >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand" href="">
      <img alt="Brand" <img="" src="/assets/kijovo(white)-750403083fad66952fb39c00403f8609.png" style="max-height: 100px; max-width: 220px; width: 136px; height: 51px;" %> 
 
      </a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          </ul>
        </li>
      </ul>
        <div class>
        </div>
      <ul class="nav navbar-nav navbar-right">
   

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>

<div>

<article id="user">
  <head>
     <h1 style="text-align: center;"> Tutorial </h1>
  </head>


<br>
</div>

<div>

<p style="text-align: center; padding-left: 15%; padding-right: 15%; font-size: 18px;"> Kijovo is easy. Just find upcoming releases you are excited about, and clock (follow) them. We will keep you up to date on the things you clock. With Kijovo you never miss a beat! </p>

</div>

<br>

<div>

<img="" src="/assets/Tutorial-51c8b23d2acbde14c2115edd931f819d.png" style="max-height: 100%; width: 80%;">


<img alt="Tutorial" <img="" src="/assets/Tutorial-ae35673c6b9c77635076e86251df5b9c.png" style="width: 60%; margin-left: 20%;" %> 

</div>

<div class="wrapper" style="padding-top: 20px;">


  <a href="/products/filter/trending"> <button type="button" class="btn btn-success" style="width: 400px; height: 50px;font-size: 16px;">Lets Get Clocking!</button></a>

</div>

</div>

</article>

