<%= render 'header' %>


<h1 style="text-align: center;"> About </h1>

<br>

<p style="text-align: center; padding-left: 100px; padding-right: 100px; font-size: 16px;"> Kijovo allows anybody to be a trendsetter, keeping tabs on all upcoming releases around the globe. </p>

<br>

<div class="row text-center">
<img alt="About Kijovo" src="/assets/about.png" style="max-width: 600px;">
</div>

<br>
<br>


<p style="text-align: center; padding-left: 100px; padding-right: 100px; font-size: 16px;"> 
	Forged by a desire to be ahead of the curve, kijovo, brings businesses, brands, and organizations from every industry together, in a spectacular timeline of the future - for you to track and follow. 
</p>