<%= render 'header' %>


<h1 style="text-align: center;"> About </h1>

<br>

<p style=" padding-left: 10%; padding-right: 10%; font-size: 16px;"> Kijovo allows anybody to be a trendsetter, keeping tabs on all upcoming releases around the globe. Our mission is simple - to catalogue all future products so you never miss a beat. Why bounce from forum to forum or blog to blog looking for the information you seek? Come to kijovo and get legitimate & reliable release news with a single click. With kijovo, the future is at your fingertips.</p>

<br>

<h3 style="padding-left: 10%; padding-right: 10%;"> Origin Of The Name </h3>


<p style="padding-left: 10%; padding-right: 10%;"> In 2012 is was Canticipate - where you Can-Anticipate the future. <br> In 2013 is was cFuture - where you can C the Future. <br> Now it is Kijovo - the Village of the Future. (Kijiji = Village & Jövő = Future) </p>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=584095781694269&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="container" style="position: absolute; right: 50px; top: 80px; height: 22px !important; width: 93px !important; overflow: hidden !important; ">
<div class="fb-like" data-href="https://kijovo.com" data-layout="button" data-action="like" data-show-faces="false" data-share="true"> 
</div>
</div>