<%= render 'header' %>


<h1 style="text-align: center;"> About </h1>

<p> Kijovo allows anybody to be a trendsetter, keeping tabs on all upcoming releases around the globe. </p>

<br>

<p> Image of name Origin </p>

<br>

<p> Forged by a desire to be ahead of the curve, kijovo, brings businesses, brands, and organizations from every industry together, in a spectacular timeline of the future - for you to track and follow. 
</p>