<%= render 'header' %>


<h1 style="text-align: center;"> About </h1> 


<div style="width: 60%; padding-top: 10px;height: 40px; background-color: rgb(190, 255, 0); text-align: left; border-radius: 15px; color: black; margin-left: 20%"> 

<div style="margin-left: 7%; margin-right: 7%">

<a href="https://twitter.com/kijovo" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @kijovo</a>


<span class="fb-like" id="container" data-href="http://facebook.com/kijovo" data-layout="button" data-action="like" data-show-faces="false" data-share="false" style="overflow: hidden !important;"> 
</span>


<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Place this tag where you want the widget to render. -->
<div class="g-follow" data-annotation="none" data-height="20" data-href="https://plus.google.com/109908421166928887976" data-rel="publisher"></div>

<iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="129" src="http://platform.tumblr.com/v1/follow_button.html?button_type=1&amp;tumblelog=kijovo&amp;color_scheme=dark" mytubeid="mytube2" style="
    position: relative;
    margin-top: -13px;
    height: 22px;
    padding: inherit;
"></iframe>

<script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script type="IN/FollowCompany" data-id="5182554" data-counter="none"></script>



<span class="ig-follow" data-id="3006c41995" data-count="false" data-size="medium" data-username="true" style="
    margin-top: -12px;
"><div title="Follow @kijovo on Instagram" class="IGF medium" data-userid="1212980816" data-user="kijovo"><div class="ig-background"><img class="ig-camera" src="http://instagramfollowbutton.com/components/instagram/v2/img/ig-camera.png" height="16" width="16"><span class="ig-text">Follow @kijovo</span></div></div></span>

<script>(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="http://instagramfollowbutton.com/components/instagram/v2/js/ig-follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));</script>



<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=584095781694269&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


</div>

</div>

</div>

<br>

<p style=" padding-left: 10%; padding-right: 10%; font-size: 16px;"> Kijovo allows anybody to be a trendsetter, keeping tabs on all upcoming releases around the globe. Our mission is simple - to catalogue all future products so you never miss a beat. Why bounce from forum to forum or blog to blog looking for the information you seek? Come to kijovo and get legitimate & reliable release news with a single click. With kijovo, the future is at your fingertips.</p>

<br>


<h3 style="padding-left: 10%; padding-right: 10%;"> Origin Of The Name </h3>


<p style="padding-left: 10%; padding-right: 10%;"> In 2012 it was Canticipate - where you Can-Anticipate the future. <br> In 2013 it was cFuture - where you can C the Future. <br> Now it is Kijovo - the Village of the Future. (Kijiji = Village & Jövő = Future) </p>