<%= render 'header' %>



<h2 style="text-align: center;"> Data Use Policy</h2>



<div style="padding-top: 3%;padding-left: 8%; padding-right: 8%">
        <h4>Information we receive about you</h4>
       <h6 style="margin-bottom:6px;">We receive a number of different types of information about you, including:</h6>
        <h5>Your information:</h5>
        <p>Your information is the information that's required when you sign up for the site, as well as the information you choose to share.
</p>
        <h5>Registration information:</h5>
        <p> When you sign up for Kijovo, you are required to provide information such as your name, email address, birthday, and gender. In some cases, you may be able to register using other information, like your telephone number.  </p>
                <div class="middlecon1">
        <h5>Information you choose to share:  </h5>
     <p> Your information also includes the information you choose to share outside of Kijovo, such as upcoming products or contests.
</p>
        <p>It also includes the information you choose to share when you communicate with us, such as when you contact us using an email address, or when you take an action, such as when you clock something.</p>
        <p>Your name, profile picture and User ID are treated just like information you choose to make public by signing up for this service. Your birthday allows us to do things like show you age-appropriate content and advertisements.</p>
   <h3>Other information we receive about you</h3>
        <p>We receive data about you whenever you use or are running Kijovo, such as when you look at a business, product, event, or movie page, send or receive a message, search for a specific page, click on, view or otherwise interact with things, use a Kijovo mobile app, or make purchases through Kijovo.</p>
        <p>When you post things like photos or videos on Kijovo, we may receive additional related data (or metadata), such as the time, date, and place you took the photo or video.  </p>
        <p>We receive data from or about the computer, mobile phone, or other devices you use to install Kijovo apps or to access Kijovo, including when multiple users log in from the same device. This may include network and communication information, such as your IP address or mobile phone number, and other information about things like your internet service, operating system, location, the type (including identifiers) of the device or browser you use, or the pages you visit. For example, we may get your GPS or other location information so we can tell you if any of your friends are nearby, or we could request device information to improve how our apps work on your device.  </p>
        <p>Sometimes we get data from our affiliates or our advertising partners, customers and other third parties that help us (or them) deliver ads, understand online activity, and generally make Kijovo better. For example, an advertiser may tell us information about you (like how you responded to an ad on Kijovo or on another site) in order to measure the effectiveness of - and improve the quality of - ads.  </p>
        <p>As described in "How we use the information we receive" we also put together data from the information we already have about you, so we can offer and suggest a variety of services and features. We may put together data about you to serve you ads or other content that might be more relevant to you.</p>
        <p>When we get your GPS location, we put it together with other location information we have about you (like your current city). But we only keep it until it is no longer useful to provide you services, like keeping your last GPS coordinates to send you relevant notifications.</p>
        <p>We only provide data to our advertising partners or customers after we have removed your name and any other personally identifying information from it, or have combined it with other people's data in a way that it no longer personally identifies you.</p>
        <h3>Information that is always publicly available</h3>
        <p>The types of information listed below are always publicly available, and they are treated just like information you decided to make public:</p>
        <h5>Name:</h5>
        <p>This can be your real name or an anonymous name as long as you aren’t posing as someone else without his or her consent.

</p>
       <h5>Profile Pictures: </h5>
        <p>These help your friends and family recognize you. If you are uncomfortable making any of these photos public, you can always delete them. Unless you delete them, when you add a new profile picture or cover photo, the previous photo will remain public in your profile picture or cover photo album.  </p>
        <h5>Username and User ID: </h5>
        <p>This is how people will be able to identify you in comments, discussions, and help requests.</p>
        <h4 style="margin:15px 0 0 0;">How we use the information we receive</h4>
      <h6>We use the information we receive about you in connection with the services and features we provide to you and other members, our partners, the advertisers that purchase ads on the site, and websites you use. For example, we may use the information we receive about you:</h6>
        <ul class="security">
            <li> As part of our efforts to keep Kijovo products, services and integrations safe and secure; </li>
            <li>To protect Kijovo's or others' rights or property; </li>
            <li>To provide you with location features and services;</li>
            <li>To measure or understand the effectiveness of ads you and others see, including to deliver relevant ads to you; </li>
            <li>To make suggestions to you and other users on Kijovo, such as: suggesting pages you may be interested in</li>
            <li>For internal operations, including troubleshooting, data analysis, testing, research and service improvement. </li>
                    </ul>
        <p>Granting us permission to use your information not only allows us to provide Kijovo as it exists today, but it also allows us to provide you with innovative features and services we develop in the future that use the information we receive about you in new ways.</p>
    <h6>While you are allowing us to use the information we receive about you, you always own all of your information. Your trust is important to us, which is why we don't share information we receive about you with others unless we have:</h6>
    <ul class="security">
        <li>Received your permission; </li>
        <li>Given you notice, such as by telling you about it in this policy; or </li>
        <li>Removed your name and any other personally identifying information from it. </li>
    </ul>
        <p>We store data for as long as it is necessary to provide products and services to you and others, including those described above. <br />
        Typically, information associated with your account will be kept until your account is deleted. For certain categories of data, we may also tell you about specific data retention practices.<br />
   We may enable access to public information that has been shared through our services. We may allow service providers to access information so they can help us provide services. </p>
        <h4 style="margin:15px 0 0 0;">Deleting your account</h4>
        <p>If you want to stop using your account, you can delete it. When you delete your account, it is permanently deleted from Kijovo. It typically takes about one month to delete an account, but some information may remain in backup copies and logs for up to 90 days. You should only delete your account if you are sure you never want to reactivate it. If you ARE SURE YOU WANT TO DELETE IT, EMAIL "info@kijovo.com" WITH YOUR REQUEST, ALONG WITH YOUR REGISTERED EMAIL AND FULL NAME.
        <p>Certain information is needed to provide you with services, so we only delete this information after you delete your account. Some of the things you do on Kijovo aren't stored in your account, like posting to a page or sending someone a message. That information remains after you delete your account.</p>
</div>
