

<img alt="Kijovo name" src="/assets/kijovo_name.png" 
style="width: 250px;
position: absolute;
margin: auto;
left: 0;
right: 0;
top: 0;
z-index: -1;">

<h2 style="color: #5890d2; 
text-align: center;
padding-top: 0px;
margin-top: 50px;"> 
<em> the future at your fingertips </em> 
</h2>



<img alt="Kijovo logo" src="/assets/Kijovo_logo.png" 
style="width: 200px;
position: absolute;
margin: auto;     
left: 0;      
right: 0;
padding-top: 60px">


<i class="glyphicon glyphicon-search" style="font-size: 40px;
position: absolute;
left: 0;
padding-top: 230px;
padding-left: 50px;"> 
</i>

<i class="glyphicon glyphicon-time" style="font-size: 40px;
position: absolute;
left: 0;
padding-top: 330px;
padding-left: 50px;"> 
</i>

<i class="glyphicon glyphicon-eye-open" style="font-size: 40px;
position: absolute;
left: 0;
padding-top: 430px;
padding-left: 50px;"> 
</i>


<h3 style="padding-left: 130px; padding-top: 54px;">FIND</h3>
<h5 style="padding-left: 130px;"> upcoming releases </h5>

<h3 style="padding-left: 130px; padding-top: 27px;">CLOCK</h3>
<h5 style="padding-left: 130px;"> your favorites </h5>

<h3 style="padding-left: 130px; padding-top: 29px;">WATCH & FOLLOW</h3>
<h5 style="padding-left: 130px;"> them until they drop </h5>

<% if not current_user %>


<a href="/signin" class="btn btn-primary" role="button" style="
    right: 72px;
    top: 222px;
    bottom: auto;
    margin-right: 0px;
    padding-right: 97.5px;
    padding-left: 97.5px;
    background-color: rgb(0, 166, 0);
    border-color: rgb(0, 166, 0);
">Log In</a>

<a href="/signup" class="btn btn-primary" role="button" style="
    right: 72px;
    top: 272px;
    bottom: auto;
    margin-right: 0px;
    padding-right: 92px;
    padding-left: 92px;
    z-index: 100;
">Sign Up</a>

<% end %>



<hr style="border-top: 1px solid rgb(181, 181, 181); width: 275px; right: 55px; top: 304px; position: absolute;">


<%= link_to "/auth/facebook", id: "sign_in" do %>
<img alt="Facebook_Login" src="/assets/Facebook_Login.png" 
style="width: 200px;
position: fixed;     
right: 90px;
top: 282px;
padding-top: 60px">
<% end %>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=584095781694269&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div id="container" style="position: absolute; left: 780px; top: 60px;">
<div style= "height: 22px !important; width: 93px !important; overflow: hidden !important; ">
<div class="fb-like" data-href="http://facebook.com/kijovo" data-layout="button" data-action="like" data-show-faces="false" data-share="false"> 
</div>
</div>
<div style="margin-left: 60px">
<a href="https://twitter.com/kijovo" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @kijovo</a>
</div>
</div>

 <%
=begin %>

<div style="position: absolute;right: 70px;top: 198px;">
<%= form_tag(session_path) do %>
  <h4 style="text-align: center; font-size: 16px">LOG IN</h4>
    <fieldset class="required">
      <div class="form-group">
    <label for="email" class="sr-only">Email</label>
      <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com" style="margin-right: 64px;">
      </div>
      <div class="form-group" style="margin-right: 50px;">
    <label for="key" class="sr-only">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password">
      </div>
<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="GO" style="
    width: 45px;
    position: absolute;
    height: 32px;
    padding-right: 16px;
    border-right-width: 1px;
    padding-left: 9px;
    right: 0;
    top: 87px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 202, 0);
">
<hr style="border-top: 1px solid rgb(181, 181, 181);">
  </fieldset>
<% end %>


</div>

<%
=end %>
