<img alt="Kijovo name" src="/assets/kijovo_name.png" 
style="width: 250px;
position: absolute;
margin: auto;
left: 0;
right: 0;
top: 0;">

<h2 style="color: #5890d2; 
text-align: center;
padding-top: 0px;
margin-top: 50px;"> 
<em> the future at your fingertips </em> 
</h2>


<img alt="Kijovo logo" src="/assets/Kijovo_logo.png" 
style="width: 200px;
position: absolute;
margin: auto;     
left: 0;      
right: 0;
padding-top: 60px">


<i class="glyphicon glyphicon-search" style="font-size: 40px;
position: absolute;
left: 0;
padding-top: 230px;
padding-left: 50px;"> 
</i>

<i class="glyphicon glyphicon-time" style="font-size: 40px;
position: absolute;
left: 0;
padding-top: 330px;
padding-left: 50px;"> 
</i>

<i class="glyphicon glyphicon-eye-open" style="font-size: 40px;
position: absolute;
left: 0;
padding-top: 430px;
padding-left: 50px;"> 
</i>


<h3 style="padding-left: 130px; padding-top: 44px;">FIND</h3>
<h5 style="padding-left: 130px;"> upcoming releases </h5>

<h3 style="padding-left: 130px; padding-top: 26px;">CLOCK</h3>
<h5 style="padding-left: 130px;"> your favorites </h5>

<h3 style="padding-left: 130px; padding-top: 27px;">WATCH & FOLLOW</h3>
<h5 style="padding-left: 130px;"> them until they drop </h5>

<% if not current_user %>


<a href="/signup" class="btn btn-primary" role="button" style="
    right: 72px;
    top: 360.5px;
    bottom: auto;
    margin-right: 0px;
    padding-right: 92px;
    padding-left: 92px;
">Sign Up</a>

<% end %>

<div style="position: absolute;right: 70px;top: 210px;">
<%= form_tag(session_path) do %>
  <h4 style="text-align: center; font-size: 16px">LOG IN</h4>
    <fieldset class="required">
      <div class="form-group">
    <label for="email" class="sr-only">Email</label>
      <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com" style="margin-right: 64px;">
      </div>
      <div class="form-group" style="margin-right: 50px;">
    <label for="key" class="sr-only">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password">
      </div>
<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="GO" style="
    width: 45px;
    position: absolute;
    height: 32px;
    padding-right: 19px;
    border-right-width: 1px;
    padding-left: 8px;
    right: 0;
    top: 87px;
    padding-bottom: 10px;
    padding-top: 5px;
">
<hr style="border-top: 1px solid rgb(181, 181, 181);">
  </fieldset>
<% end %>

</div>