<img alt="Kijovo name" src="/assets/kijovo_name.png" 
style="width: 250px;
position: absolute;
margin: auto;
left: 0;
right: 0;
top: 0;">

<h2 style="color: #5890d2; 
text-align: center;
padding-top: 0px;
margin-top: 50px;"> 
<em> the future at your fingertips </em> 
</h2>


<img alt="Kijovo logo" src="/assets/Kijovo_logo.png" 
style="width: 200px;
position: absolute;
margin: auto;     
left: 0;      
right: 0;
padding-top: 60px">


<i class="glyphicon glyphicon-search" style="font-size: 40px;
position: absolute;
left: 0;
padding-top: 230px;
padding-left: 50px;"> 
</i>

<i class="glyphicon glyphicon-time" style="font-size: 40px;
position: absolute;
left: 0;
padding-top: 330px;
padding-left: 50px;"> 
</i>

<i class="glyphicon glyphicon-eye-open" style="font-size: 40px;
position: absolute;
left: 0;
padding-top: 430px;
padding-left: 50px;"> 
</i>


<h3 style="padding-left: 130px; padding-top: 44px;">FIND</h3>
<h5 style="padding-left: 130px;"> upcoming releases </h5>

<h3 style="padding-left: 130px; padding-top: 26px;">CLOCK</h3>
<h5 style="padding-left: 130px;"> your favorites </h5>

<h3 style="padding-left: 130px; padding-top: 27px;">WATCH & FOLLOW</h3>
<h5 style="padding-left: 130px;"> them until they drop </h5>

<% if not current_user %>


<div style="position: absolute;right: 70px;top: 200px;">
<%= form_tag(session_path) do %>
  <h4 style="text-align: center;">LOG IN</h4>
  <fieldset class="required">
        <%= email_field_tag :email, nil, autofocus: true, size: 27 %>
        <br>
        <%= password_field_tag :password, nil, size: 21 %> <%= submit_tag 'GO' %>
  </fieldset>
<% end %>
</div>


<a href="/signup" class="btn btn-primary" role="button" style="
    right: 50px;
    top: 350px;
    bottom: auto;
    margin-right: 0px;
    padding-right: 80px;
    padding-left: 80px;
">Sign Up</a>

<a href="/signin" class="btn btn-primary" role="button" style="
    right: 50px;
    top: 50px;
    bottom: auto;
    margin-right: 0px;
    padding-right: 80px;
    padding-left: 80px;
">Log In</a>
<% end %>
