<%= render 'header' %>



<h2  style="text-align: center;"> Kijovo Principles</h2>


<div style="padding-top: 3%;padding-left: 8%; padding-right: 8%">
       <p>We are building Kijovo to make the future of our world more transparent, which will create a global initiative to become increasingly more prepared and knowledgeable. Kijovo promotes this hunger for knowledge by enabling users to “surf” among various futuristic products & events; every large service, such as this, needs principles to help govern the use of it to be effective, so here are ours.</p>
    <h3>1.	Freedom to Share and Connect</h3>  
       <p>People should have the freedom to share whatever information they want, in any medium and any format, and have the right to connect online with anyone - any person, organization or service - as long as they both consent to the connection.</p>
        <h3>2.	Ownership and Control of Information </h3>
        <p>People should own their information. They should have the freedom to share it with anyone they want and take it with them anywhere they want, including removing it from the Kijovo Service. People should have the freedom to decide with whom they will share their information, and to set privacy controls to protect those choices. Those controls, however, are not capable of limiting how those who have received information may use it, particularly outside the Kijovo Service.</p>
        <h3>3.	Free Flow of Information</h3>
        <p>People should have the freedom to access all of the information made available to them by others. People should also have practical tools that make it easy, quick, and efficient to share and access this information.</p>
   <h3>4.	Fundamental Equality </h3>
        <p>Every Person - whether individual, advertiser, developer, organization, or other entity - should have representation and access to distribution and information within the Kijovo Service, regardless of the Person's primary activity. There should be a single set of principles, rights, and responsibilities that should apply to all People using the Kijovo Service.</p>
        <h3>5.	Social Value </h3>
        <p>People should have the freedom to build trust and reputation through their identity and connections, and should not have their presence on the Kijovo Service removed for reasons other than those described in Kijovo's Statement of Rights and Responsibilities.</p>
        <h3>6.	Open Platforms and Standards </h3>
        <p>People should have programmatic interfaces for sharing and accessing the information available to them. The specifications for these interfaces should be published and made available and accessible to everyone.</p>
        <h3>7.	Fundamental Service</h3>
        <p>People should be able to use Kijovo for free to establish a presence, connect with others, and share information with them. Every Person should be able to use the Kijovo Service regardless of his or her level of participation or contribution.</p>
        <h3>8.	Common Welfare </h3>
        <p>The rights and responsibilities of Kijovo and the People that use it should be described in a Statement of Rights and Responsibilities, which should not be inconsistent with these Principles.</p>
        <h3>9.	Transparent Process </h3>
        <p>Kijovo should publicly make available information about its purpose, plans, policies, and operations. Kijovo should have a process of notice and comment to provide transparency and encourage input on amendments to these Principles or to the Rights and Responsibilities.</p>
        <h3>10.	One World</h3>
        <p>The Kijovo Service should transcend geographic and national boundaries and be available to everyone in the world.</p>
    </div>

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=584095781694269&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="container" style="position: absolute; right: 50px; top: 80px; height: 22px !important; width: 93px !important; overflow: hidden !important; ">
<div class="fb-like" data-href="https://kijovo.com" data-layout="button" data-action="like" data-show-faces="false" data-share="true"> 
</div>
</div>