<%= render 'header' %>



<h2 style="text-align: center;"> Kijovo Privacy</h2>

<div style="padding-top: 3%;padding-left: 8%; padding-right: 8%">
       <h4 style="padding-bottom: 10px;">Kijovo instantly connects people everywhere to what future events, products, movies, shows, and entities are most meaningful to them. Any registered member can “clock” and track anything posted on The Kijovo Service. </h6>
          <p>As a member on Kijovo we want to protect your interests most. That is why we have made every profile private. No other users can actually see what you have “clocked” on your timecard unless you elect to volunteer that information. </p>
          <p>There are a number of ways to share the information you discover on Kijovo, most notably is our SHARE feature. This allows you to link what you have found to virtually any other website and show anyone how you stay ahead of the curve.</p>
          <p>We do however need some of your information to keep our service at peak effectiveness. If you are interested in learning more about the information we do use please visit our <a href="cookies">Cookies </a>and <a href="terms">Terms</a>  pages. </p>
</div>
