<%= render 'header' %>



<h2  style="text-align: center;"> Statement of Rights & Responsibilities</h2>
    </div>
        <p>This agreement was written in English (US). To the extent any translated version of this agreement conflicts with the English version, the English version controls.  Please note that Section 17 contains certain changes to the general terms for users outside the United States.</p>
       <p>Date of Last Revision: February 23, 2014.</p>
        <p>This Statement of Rights and Responsibilities ("Statement," "Terms," or "SRR") derives from the <a href="principles"> Kijovo Principles</a>, and is our terms of service that governs our relationship with users and others who interact with Kijovo. By using or accessing Kijovo, you agree to this Statement, as updated from time to time in accordance with Section 14 below. Additionally, you will find resources at the end of this document that help you understand how Kijovo works.</p>
                        
            <h3>1. Privacy</h3>
        <p>  Your privacy is very important to us. We designed our <a href="data"> Data Use Policy </a> and <a href="privacy"> Privacy Policies</a> to make important disclosures about how you can use Kijovo to share with others and how we collect and can use your content and information.  
            We encourage you to read the Data Use Policy, and to use it to help you make informed decisions.</p>
        <h3>2. Sharing Your Content and Information</h3>
       <h6>The content you share on Kijovo is publicly owned; excluding your profile pictures and any profile information you sign up with or edit while your account is active. In addition:</h6>
     <ul class="security">
         <li> For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with Kijovo (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.</li>
     <li>When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).</li>
     <li>When you publish content or information in the Public setting, it means that you are allowing everyone, including people off of Kijovo, to access and use that information, and to associate it with you (i.e., your name and profile picture).</li>
     <li>We always appreciate your feedback or other suggestions about Kijovo, but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).</li>
     </ul> 
        <h3>3. Safety</h3> 
        <h6>We do our best to keep Kijovo safe, but we cannot guarantee it. We need your help to keep Kijovo safe, which includes the following commitments by you:</h6>
      <ul class="security">
          <li>You will not post unauthorized commercial communications (such as spam) on Kijovo.</li>
          <li>You will not collect users' content or information, or otherwise access Kijovo, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</li>
          <li>You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on Kijovo.</li>
          <li>You will not upload viruses or other malicious code.</li>
          <li>You will not solicit login information or access an account belonging to someone else.</li>
          <li>You will not bully, intimidate, or harass any user.</li>
          <li>You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.</li>
          <li>You will not develop or operate a third-party page containing alcohol-related, dating or other mature content (including advertisements) without appropriate age-based restrictions.</li>
          <li>You will not use Kijovo to do anything unlawful, misleading, malicious, or discriminatory.</li>
          <li>You will not do anything that could disable, overburden, or impair the proper working or appearance of Kijovo, such as a denial of service attack or interference with page rendering or other Kijovo functionality.</li>
          <li>You will not facilitate or encourage any violations of this Statement or our policies.</li>     
      </ul>
        <h3>4. Registration and Account Security</h3>
        <h6>Kijovo users provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account:</h6>
     <ul class="security">
         <li>You will not provide any false personal information on Kijovo, or create an account for anyone other than yourself without permission.</li>
         <li>You will not create more than one personal account.</li>
         <li>If we disable your account, you will not create another one without our permission.</li>
         <li>You will not use your personal profile primarily for your own commercial gain, and will not use a Kijovo Page for such purposes.</li>
        <li>You will not use Kijovo if you are under 10.</li>
         <li>You will keep your contact information accurate and up-to-date.</li>
         <li>You will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.</li>
         <li>You will not transfer your account (including any Page or application you administer) to anyone without first getting our written permission.</li>
         <li>If you select a username or similar identifier for your account or Page, we reserve the right to remove or reclaim it if we believe it is appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).</li>
              </ul>
        <h3>5. Protecting Other People's Rights</h3>
       <h6>We respect other people's rights, and expect you to do the same.</h6>
          <ul class="security">
              <li>You will not post content or take any action on Kijovo that infringes or violates someone else's rights or otherwise violates the law.</li>
              <li>We can remove any content or information you post on Kijovo if we believe that it violates this Statement or our policies.</li>
              <li>We provide you with tools to help you protect your intellectual property rights. </li>
              <li>If we remove your content for infringing someone else's copyright, and you believe we removed it by mistake, we will provide you with an opportunity to appeal.</li>
              <li>If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.</li>
              <li>You will not use our copyrights or trademarks, or any confusingly similar marks, without our permission.</li>
              <li>You will not post anyone's identification documents or sensitive financial information on Kijovo.</li>
                        </ul>
        <h3>6. Mobile and Other Devices</h3>
          <ul class="security">
              <li>We currently provide our mobile services for free, but please be aware that your carrier's normal rates and fees, such as text messaging and data charges, will still apply.</li>
              <li>In the event you change or deactivate your mobile telephone number, you will update your account information on Kijovo within 48 hours to ensure that your messages are not sent to the person who acquires your old number.</li>
              <li>You provide consent and all rights necessary to enable users to sync (including through an application) their devices with any information that is visible to them on Kijovo.</li>
          </ul>
        <h3>7. Payments</h3>
        <p>Kijovo is not liable for any payment issues you have had on the Kijovo website, or through affiliated payment links.</p>
        <h3>8. Special Provisions Applicable to Social Plugins</h3>
        <h6>If you include our Social Plugins, such as the Share or Clock buttons on your website, the following additional terms apply to you:</h6>
         <ul class="security">
             <li>We give you permission to use Kijovo's Social Plugins so that users can post links or content from your website on Kijovo.</li>
             <li>You give us permission to use and allow others to use such links and content on Kijovo.</li>
             <li>You will not place a Social Plugin on any page containing content that would violate this Statement if posted on Kijovo.</li>
         </ul>
        <h3>9. Special Provisions applicable to Business relates pages and admins</h3>
        <h6>If you are a business, organization, association, admin, or any other affiliated business this applies to you:</h6>
    <ul class="security">
        <li>Any information you post and publish is for use in the public domain and is no longer considered your property. </li>
        <li>Kijovo is not responsible for any accidental postings and incidents that occur as you are to monitor what information you post.</li>
        <li>You are required to honor our contest guidelines below :
<ul>
<li>All contests are finalized once a member has entered into them. </li>
    <li>Once the winners are drawn you are required to fulfill all contest prize drawings made.</li>
</ul>

        </li>
    </ul>
        <h3>10. Special Provisions Applicable to Software</h3>
        <ul class="security">
            <li>If you download or use our software, such as a stand-alone software product, an app, or a browser plugin, you agree that from time to time, the software may download and install upgrades, updates and additional features from us in order to improve, enhance, and further develop the software.</li>
            <li>You will not modify, create derivative works of, decompile, or otherwise attempt to extract source code from us, unless you are expressly permitted to do so under an open source license, or we give you express written permission.</li>
        </ul>
        <h3>11.  Amendments</h3>
         <ul class="security">
             <li>Unless we make a change for legal or administrative reasons, or to correct an inaccurate statement, we will provide you with seven (7) days notice and an opportunity to comment on changes to this Statement.  </li>
             <li>Your continued use of Kijovo following changes to our terms constitutes your acceptance of our amended terms.</li>
         </ul>
        <h3>12. Termination</h3>
        <ul class="security">
            <li>If you violate any of our terms stated on this document we reserve the right to terminate your account and block you from using this service indefinitely. </li>
            <li>We also reserve the right to block and terminate anyone from this service if we feel you have violated any of our policies or rules.</li>
        </ul>
        <h3>13. Disputes</h3>
        <ul class="security">
            <li>You will resolve any claim, cause of action or dispute (claim) you have with us arising out of or relating to this Statement or Kijovo exclusively in the U.S. District Court for Southern Florida or a state court located in Dade County, and you agree to submit to the personal jurisdiction of such courts for the purpose of litigating all such claims. The laws of the State of Florida will govern this Statement, as well as any claim that might arise between you and us, without regard to conflict of law provisions.</li>
        <li>If anyone brings a claim against us related to your actions, content or information on Kijovo, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim. Although we provide rules for user conduct, we do not control or direct users' actions on Kijovo and are not responsible for the content or information users transmit or share on Kijovo. We are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may encounter on Kijovo. We are not responsible for the conduct, whether online or offline, or any user of Kijovo.</li>
        <li style="text-transform:lowercase;" ><span style="text-transform:uppercase;">W</span>E TRY TO KEEP KIJOVO UP, BUG-FREE, AND SAFE, BUT YOU USE IT AT YOUR OWN RISK. WE ARE PROVIDING KIJOVO AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT KIJOVO WILL ALWAYS BE SAFE, SECURE OR ERROR-FREE OR THAT KIJOVO WILL ALWAYS FUNCTION WITHOUT DISRUPTIONS, DELAYS OR IMPERFECTIONS. KIJOVO IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. </li>
        </ul>
        <h3>14. Special Provisions Applicable to Users Outside the United States</h3>
        <h6>We strive to create a global community with consistent standards for everyone, but we also strive to respect local laws. The following provisions apply to users and non-users who interact with Kijovo outside the United States:</h6>
         <ul class="security">
             <li>You consent to having your personal data transferred to and processed in the United States.</li>
             <li>If you are located in a country embargoed by the United States, or are on the U.S. Treasury Department's list of Specially Designated Nationals you will not engage in commercial activities on Kijovo (such as advertising or payments). You will not use Kijovo if you are prohibited from receiving products, services, or software originating from the United States.</li>
         </ul>
        <h3>15. Definitions</h3>
        <ul class="security">
            <li>By "Kijovo" we mean the features and services we make available, including through (a) our website at www.kijovo.com and any other Kijovo branded or co-branded websites (including sub-domains, international versions, widgets, and mobile versions); (b) our Platform; (c) social plugins such as the Clock button, the Share button and other similar offerings and (d) other media, software (such as a toolbar), devices, or networks now existing or later developed.</li>
            <li>By "Platform" we mean a set of APIs and services (such as content) that enable others, including application developers and website operators, to retrieve data from Kijovo or provide data to us.</li>
            <li>By "information" we mean facts and other information about you, including actions taken by users and non-users who interact with Kijovo.</li>
            <li>By "content" we mean anything you or other users post on Kijovo that would not be included in the definition of information.</li>
            <li>By "data" or "user data" or "user's data" we mean any data, including a user's content or information that you or third parties can retrieve from Kijovo or provide to Kijovo through Platform.</li>
            <li>By "post" we mean post on Kijovo or otherwise make available by using Kijovo</li>
            <li>By "use" we mean use, run, copy, publicly perform or display, distribute, modify, translate, and create derivative works of.</li>
            <li>By "active registered user" we mean a user who has logged into Kijovo at least once in the previous 30 days.</li>
            <li>By "application" we mean any application or website that uses or accesses Platform, as well as anything else that receives or has received data from us.  If you no longer access Platform but have not deleted all data from us, the term application will apply until you delete the data.</li>
                    </ul>
        <h3>16. Other</h3>
         <ul class="security">
             <li>This Statement makes up the entire agreement between the parties regarding Kijovo, and supersedes any prior agreements.</li>
             <li>If any portion of this Statement is found to be unenforceable, the remaining portion will remain in full force and effect.</li>
             <li>If we fail to enforce any of this Statement, it will not be considered a waiver.</li>
             <li>Any amendment to or waiver of this Statement must be made in writing and signed by us.</li>
             <li>You will not transfer any of your rights or obligations under this Statement to anyone else without our consent.</li>
             <li>All of our rights and obligations under this Statement are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.</li>
             <li>Nothing in this Statement shall prevent us from complying with the law.</li>
             <li>This Statement does not confer any third party beneficiary rights.</li>
             <li>We reserve all rights not expressly granted to you.</li>
             <li>You will comply with all applicable laws when using or accessing Kijovo.</li>         </ul>
         </div>
        </div>

