<%= render 'header' %>



<h2  style="text-align: center;"> Kijovo Rules & Standards</h2>
      

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=584095781694269&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="container" style="display: block; margin-right: auto; margin-left: auto; height: 22px !important; width: 93px !important; overflow: hidden !important; ">
<div class="fb-like" data-href="http://facebook.com/kijovo" data-layout="button" data-action="like" data-show-faces="false" data-share="true"> 
</div>
</div>

      
        <div style="padding-top: 3%;padding-left: 8%; padding-right: 8%">
        <p>Kijovo gives people around the world the power to take control of the future. With it, anyone is capable of mapping and tracking the products, events, and things they want to follow for years to come. Each person is different and each has his or her own agenda. </p>
        <p>Please review these standards. They will help you understand what type of expression is acceptable, and what type of content may be reported and removed.</p>
        <h3>Violence and Threats</h3>
        <p>Safety is Kijovo’s top priority. We remove content and may escalate to law enforcement when we perceive a genuine risk of physical harm, or a direct threat to public safety. You may not credibly threaten others, or organize acts of real-world violence. Organizations with a record of terrorist or violent criminal activity are not allowed to maintain a presence on our site. We also prohibit promoting, planning or celebrating any of your actions if they have, or could, result in financial harm to others, including theft and vandalism.</p>
        <h3>Self-Harm</h3>
        <p>Kijovo takes threats of self-harm very seriously. We remove any promotion or encouragement of self-mutilation, eating disorders or hard drug abuse. We also work with suicide prevention agencies around the world to provide assistance for people in distress.</p>
        <h3>Bullying and Harassment</h3>
        <p>Kijovo does not tolerate bullying or harassment. We allow users to speak freely on matters and people of public interest, but take action on all reports of abusive behavior directed at private individuals. Repeatedly targeting other users with unwanted messages is a form of harassment.</p>
        <h3>Hate Speech</h3>
        <p>Kijovo does not permit hate speech, but distinguishes between serious and humorous speech. While we encourage you to challenge ideas, institutions, events, and practices, we do not permit individuals or groups to attack others based on their race, ethnicity, national origin, religion, sex, gender, sexual orientation, disability or medical condition.</p>
        <h3>Graphic Content</h3>
        <p>When people share any content, we expect that they will share in a responsible manner. That includes choosing carefully the audience for the content. For graphic videos, people should warn their audience about the nature of the content in the video so that their audience can make an informed choice about whether to watch it. </p>
        <h3>Nudity and Pornography</h3>
        <p>Kijovo has a strict policy against the sharing of pornographic content and any explicitly sexual content where a minor is involved. We also impose limitations on the display of nudity. We aspire to respect people’s right to share content of personal importance.</p>
        <h3>Identity and Privacy</h3>
        <p>On kijovo people connect using their real names and identities. We ask that you refrain from publishing the personal information of others without their consent. Claiming to be another person, creating a false presence for an organization, or creating multiple accounts undermines community and violates Kijovo’s terms.</p>
        <h3>Intellectual Property</h3>
        <p>Before sharing content on Kijovo, please be sure you have the right to do so. We ask that you respect copyrights, trademarks, and other legal rights.</p>
        <h3>Phishing and Spam</h3>
        <p>We take the safety of our members seriously and work to prevent attempts to compromise their privacy or security. We also ask that you respect our members by not contacting them for commercial purposes without their consent.</p>
        <h3>Security</h3>
        <p>We take the safety of our members seriously and work to prevent attempts to compromise their privacy or security, including those that use fraud or deception. Additionally, we ask that you respect our members by not contacting them for commercial purposes without their consent.</p>
        <h4 style="margin: 15px 0 0 0;">Reporting Abuse</h4>
        <p>If you see something on Kijovo that you believe violates our terms, you should report it to us. Please keep in mind that reporting a piece of content does not guarantee that it will be removed from the site. </p>
        <p>Because of the diversity of our community, it's possible that something could be disagreeable or disturbing to you without meeting the criteria for being removed or blocked. For this reason, we also offer personal controls over what you see.</p>
    </div>
