<h1 style="text-align: center;"> Help</h1>

<br>

<ul class="nav nav-tabs" role="tablist" style="padding-left: 38.5%;">
  <li><a href="/settings/general">General</a></li>
  <li><a href="/settings/notifications">Notifications</a></li>
  <li class="active"><a href="/settings/help">Help</a></li>
</ul>

<br>
<br>


<form accept-charset="UTF-8" action="/settings/help" method="post" style="
    margin-left: 23%;">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="ybnQWgWtJbUuF03PsTJUVrbT4LOlnVyrFSgQeEnSmro="></div>

  <div style="margin:0;padding:0">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="ybnQWgWtJbUuF03PsTJUVrbT4LOlnVyrFSgQeEnSmro=">
  </div>
  <textarea cols="100" id="message" name="message" rows="12">Please submit your comments, questions, or concerns here.</textarea>
  <br>
   <input name="commit" type="submit" value="Send Message">
</form>
