<h1 style="text-align: center;"> Help</h1>

<br>

<ul class="nav nav-tabs" role="tablist" style="padding-left: 37%;">
  <li><a href="/settings/general">General</a></li>
  <li><a href="/settings/notifications">Notifications</a></li>
  <li class="active"><a href="/settings/help">Help</a></li>
</ul>

<br>
<br>


<div class="container">
  <div class="row">
        <div class="well well-sm" style="width: 80%; margin-left: 10%; height: 338px;">
          <form class="form-horizontal" action="" method="post" style="width: 90%; padding-left: 10%; padding-top: 15px;">
          <fieldset>
            <legend class="text-center" style="font-size: 16px;">How Can We Help You? </legend>
    
            <!-- Name input-->
            <div class="form-group">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
            </div>
    
            <!-- Email input-->
            <div class="form-group">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
            </div>
    
            <!-- Message body -->
            <div class="form-group">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </div>
          </fieldset>
          </form>
        </div>
  </div>
</div>