

<br>


<div class="row" style="margin-right: 0px; margin-left: 0px;">
<div class="span12 centered-pills" style="padding-top: 50px;">  
<ul class="nav nav-pills" role="tablist">
  <li><a href="/settings/general" style="background-color: rgb(166, 166, 166);color: white; width: 150px; height: 33px; padding-top: 5px;">General</a></li>
  <li class="active" style="margin-left: 30px; margin-right: 30px; width: 150px;"><a href="/settings/notifications" style=" width: 150px; height: 33px; padding-top: 5px;">Notifications</a></li>
  <li><a href="/contacts" style="background-color: rgb(166, 166, 166);color: white; width: 150px; height: 33px; padding-top: 5px;">Help</a></li> 
</ul>
</div>
</div>
<div style="border:1px solid rgb(190, 190, 190); height: 300px; width: 70%; margin-top:20px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; margin-right:auto; margin-left:auto">

<br>

<h3 style="text-align: center; padding-left: 10px; padding-right: 10px"> NOTIFICATIONS YOU SHOULD EXPECT INCLUDE </h3>

<br>


<ol style="margin-left: 10%;">
<li> Product releases you may be interested in </li>
<li> Changes to things you have clocked</li>
<li> Notifications the day before a release </li>
<li> Promotional deals and contest </li>
</ol>
</div>