<h1 style="text-align: center;"> Notifications</h1>

<br>

<ul class="nav nav-tabs" role="tablist" style="padding-left: 37%;">
  <li><a href="/settings/general">General</a></li>
  <li class="active"><a href="/settings/notifications">Notifications</a></li>
  <li><a href="/settings/help">Help</a></li>
</ul>


<br>
<br>

<h4 style="text-align: center;"> NOTIFICATIONS YOU SHOULD EXPECT INCLUDE </h4>

<br>



<li style="text-align: center;"> Product releases you may be interested in </li>
<li style="text-align: center;"> Changes to things you have clocked</li>
<li style="text-align: center;"> Notifications the day before a release </li>
