
<%= render 'header' %>


<% if not current_user %>
<br> 
<h1  style="text-align: center;"> Contact Us </h1>
  <% end %>

  <% if current_user %>

<div class="row" style="margin-right: 0px; margin-left: 0px;">
<div class="span12 centered-pills" style="padding-top: 50px;">  
<ul class="nav nav-pills" role="tablist">
  <li><a href="/settings/general" style="background-color: rgb(148, 148, 148);color: white; width: 150px; height: 33px; padding-top: 7px;">General</a></li>
<li style="background-color: rgba(197, 197, 197, 0);"><a href="/settings/notifications" style="background-color: rgb(148, 148, 148);color: white; margin-left: 30px; margin-right: 30px; width: 150px; height: 33px; padding-top: 7px;">
  Notifications</a></li> 
  <li class="active" style="width: 150px;"><a href="/contacts" style=" width: 150px; height: 33px; padding-top: 7px;">Help</a></li>
</ul>
</div>
</div>
  <% end %>

<div class="container">

  <div class="row">

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <div style="border:1px solid rgb(190, 190, 190); height: 300px; width: 79%; margin-top:20px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; margin-right:auto; margin-left:auto">
     <fieldset style="border: none;">
       <div class="text-center" style="font-size: 18px; margin-top: 12px; color: lightgrey;">Please submit your comments, questions, or concerns below.
       </div>

<% if current_user %>

            <!-- Name input-->
            <div class="form-group" style="padding-left:10%; padding-right: 10%; margin-top: 12px">
              <input id="contact_name" name="contact[name]" type="text" placeholder="Your name" class="form-control" required="required" autofocus="autofocus" aria-required="true">
            </div>

            <!-- Email input-->
            <div class="form-group" style="padding-left:10%; padding-right: 10%;">
              <input aria-required="true" id="contact_email" name="contact[email]" type="email"placeholder="Email" class="form-control" required="required">
            </div>
    
            <!-- Message body -->
            <div class="form-group" style="padding-left:10%; padding-right: 10%;">
              <textarea aria-required="true" class="form-control" id="contact_message" name="contact[message]" placeholder="Please enter your message here..." rows="3.5" required="required"></textarea>
            </div>

<% else %>
  

            <!-- Name input-->
            <div class="form-group" style="padding-left:10%; padding-right: 10%; margin-top: 12px">
              <input id="contact_name" name="contact[name]" type="text" placeholder="Your name" class="form-control" required="required" autofocus="autofocus" aria-required="true">
            </div>

            <!-- Email input-->
            <div class="form-group" style="padding-left:10%; padding-right: 10%;">
              <input aria-required="true" id="contact_email" name="contact[email]" type="email"placeholder="Your email" class="form-control" required="required">
            </div>
    
            <!-- Message body -->
            <div class="form-group" style="padding-left:10%; padding-right: 10%;">
              <textarea aria-required="true" class="form-control" id="contact_message" name="contact[message]" placeholder="Please enter your message here..." rows="3.5" required="required"></textarea>
            </div>

<% end %>
            <!-- Form actions -->
            <div class="form-group" style="padding-left:10%; padding-right: 10%;">
                <input style="width: 100px;" class="btn btn-primary btn-sm" name="commit" type="submit" value="Send message">
            </div>
          </fieldset>
        </div>
      </form>
    </div>
  <% end %>
  <br>
    <div class="text-center" style="color: lightgrey;">You can also reach out to us by emailing <a href="mailto:info@kijovo.com">info@kijovo.com</a> 
  </div>
</div>


