<h1 style="text-align: center;"> Editing Category: <%= @category.name %></h1>

<%= render 'form' %>

<%= link_to "Delete", category_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %>