<h1 style="text-align: center;"> <%= pluralize(@categories.size, 'Category') %></h1>

<div class="wrapper">
<a href="/categories/new"> Add New Category </a>
</div>

<br>

<% @categories.each do |category| %>
  <article class='category' style="padding-left: 100px;">
    <header>
     <li> <h3><%= link_to(category.name, category_path(category)) %>  ( <%= category.products.size %> ) </h3> </li>
    </header>
  </article>
<% end %>