<div>
<% flash.each do |key, value| %>
   <div>
   <br> <br>
   <a href="#" data-dismiss="alert" style="margin-left: 90%;">X 
   <%= content_tag(:p, value, :class => "flash #{key}") %> </a>
    </div>
<% end %>
</div>