<footer id="page-footer">
<div class="footer navbar-fixed-bottom" style="text-align: center;font-size: 12px;">
  	<a href="/welcome/about">About</a>
  	&nbsp; &nbsp; &nbsp; &nbsp;
  	<a href="http://kijovo.com/blog">Blog</a>
  	&nbsp; &nbsp; &nbsp; &nbsp;
  	<a href="/welcome/terms">Terms</a>
  	&nbsp; &nbsp; &nbsp; &nbsp;
  	<a href="/contacts">Contact</a>
  </div>
</footer>