
<footer id="page-footer">
<div class="footer navbar-fixed-bottom" style="text-align: center;font-size: 12px;">
  	<a href="/welcome/about" style="color: white;">About</a>

  	<%
=begin %>
  	&nbsp; &nbsp; &nbsp; &nbsp;
  	<a href="http://kijovo.com/blog" style="color: white;">Blog</a>
  	<%
=end %>
  	&nbsp; &nbsp; &nbsp; &nbsp;
  	<a href="/welcome/terms" style="color: white;">Terms</a>
  	&nbsp; &nbsp; &nbsp; &nbsp;
  	<a href="/contacts" style="color: white;">Contact</a>



<a href="/products/filter/trending" class="btn btn-info btn-xs" style="
    position: absolute;
    bottom: 5px;
    width: 110px;
    height: 24px;
    right: 5px;
    background-color: rgba(140, 140, 140, 0.31);
    color: white;
    border: none;">

    Just Browse <span class="glyphicon glyphicon-circle-arrow-right" style="
    font-size: 16px;
    left: 4px;
    top: 4px;">
  </span></a>


  </div>
</footer>
